extends ../layout

block content
    h3 Authors
    a(href='/authors/add') Add New Author
    table
        thead
            tr
                th First
                th Last
                th DOB
                th
        tbody
            each author in authors
                tr
                    td= author.FirstName
                    td= author.LastName
                    td= author.dateOfBirth
                    td
                        a(href=`/authors/profile/${author.id}`) View Author