body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: antiquewhite;
  padding: 0;
  margin: 0;
  color: bisque;

}

a {
  display: inline-block;
  color: white;
  margin-right: 16px;
  text-decoration: none;
}

nav{
  width: 100%;
  background: saddlebrown;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.store-title{
  font-size: 20px;
  padding-left: 64px;
  color: bisque;
}

nav li a{
  display: block;
  padding: 20px 30px;
  color: white;
  font-size: 18px;
}

.nav-content{
  max-width: 1300px;
  width: 100%;
}

.container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.content-container{
  background: saddlebrown;
  border-radius: 12px;
  padding: 20px;
}

table{
  width: 85%;
}

td, th{
  padding: 8px 12px;
  text-align: left;
}

img{
  width: 20%;
}

.form-input{
  margin-bottom: 8px;
}

label{
  display: block;
  font-weight: bold;
}

.button{
  border-radius: 12px;
  padding: 4px 8px;
  border: 1px solid white;
  color: black;
  background: bisque;
}

.button.primary {
  background-color: burlywood;
  color: black;
  border-color: white;
}